html,
body {
  height: 100vh;
  width: 100vw;
}
.calendar-screen {
  display: flex;
  flex-flow: column;
  height: 100vh;
}
/*Esta clase la contiene la blblioteca react-big-calendar*/

.rbc-calendar {
  height: 100%;
}
